body{
    font-family: 'Poppins', sans-serif;
    margin: 5%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: crimson;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: blueviolet;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(indigo, blueviolet);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.about-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
footer{
    text-align: center;
    background-color: goldenrod;
}
.border-radius{
    border-radius: 100px;
}
.recipe-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: ;
    box-shadow: 10px 10x 30px gray;
}
#first-recipe{
    border-radius: 50px;
    box-shadow: 10px 10x 110px gray;
    border: green;
}
